#outer{
    height: 400px;
    width: 400px;
    background-color: blue;
    font-size: 20px;
}

#inner{
    height: 200px;
    width: 200px;
    background-color: yellow;
    font-size: 2em;
}

button{
    margin: 100px;
    font-size: 40px;
    padding: 0.4em;
    border-radius: 0.5em;
}

section{
    font-size: 50px;
}

div{
    font-size: 2rem;
}