<% layout("/layouts/boilerplate") %>
<body>
    <h3>Enter Details</h3>
    <form method="POST" action="/listings">
        <input type="text" name="listing[title]" id="name" placeholder="Enter Title"> <br><br>
        
        <textarea name="listing[description]" id="description" cols="30" rows="10" placeholder="Enter description"></textarea> <br><br>

        <input type="text" name="listing[image]" id="image" placeholder="Enter URL"> <br><br>
        
        <input type="number" name="listing[price]" id="price" placeholder="Enter Price"> <br><br>

        <input type="text" name="listing[country]" id="country" placeholder="Enter Country"> <br><br>

        <input type="text" name="listing[location]" id="location" placeholder="Enter Location"> <br><br>

        <button>Add</button>
    </form>
</body>