<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>
<body>
    <form method="POST" action="/user/add">
        <label for="username">Username : </label>
        <input type="text" id="username" name="username" placeholder="Enter Username"> <br><br>

        <label for="emails">Email : </label>
        <input type="email" id="emails" name="emails" placeholder="Enter Email"> <br><br>
        
        <label for="pass">Password : </label>
        <input type="password" id="pass" name="pass" placeholder="Enter Password"> <br><br>

        <button>Add User</button>
    </form>
</body>
</html>