<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
</head>
<body>
    <h2>Removing: <%= user.email %></h2>
    <form method="POST" action="/user/<%= user.id %>?_method=DELETE">
        <label>Username : <%= user.username %> </label> <br><br>

        <label for="Password">Password : </label>
        <input type="password" name="pass" id="Password" placeholder="Enter Password"> <br><br>

        <button>Delete User</button>
    </form>
</body>
</html>